{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Sona Template" />
    <meta name="keywords" content="Sona, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Booking</title>

    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap"
      rel="stylesheet"
    />

    <!-- Css Styles -->
    <link
      rel="stylesheet"
      href="../../static/css/bootstrap.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/font-awesome.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/elegant-icons.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/flaticon.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/owl.carousel.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/nice-select.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/jquery-ui.min.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/magnific-popup.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="../../static/css/slicknav.min.css"
      type="text/css"
    />
    <link rel="stylesheet" href="../../static/css/style.css" type="text/css" />
    <style>
      .contentBox {
        width: 60%; /*기준선*/
        
        border: 0px;

        margin: 0 auto;
      }
      .calenderBox {
        padding-top: 100px;
      }
      h1,
      h2,
      h3,
      h4,
      h5 {
        font-family: "Lora", serif;
      }
      span {
        font-family: "Lora", serif;
      }
      h5 {
        margin-top: 3px;
        font-family: "Lora", serif;
        color: darkgrey;
        font-size: 16px;
      }

      .step1,
      .step2,
      .step3,
      .step4 {
        font-weight: 600;
        color: darkgrey;
        border-left: 1px solid;
        padding-left: 10px;
        float: left;
      }
      .step1,
      .step2,
      .step3 {
        margin-right: 30px;
      }
      .check-in,
      .check-out,
      .guests,
      .search {
        float: left;
        margin-top: 40px;
        font-size: 18px;
        font-weight: 600;
        width: 200px;
        text-align: center;
      }
      .step2 {
        color: #dfa974;
      }
      .SelectRooms,
      .SearchRooms {
        height: 40px;
        width: 100px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        background-color: #dfa974;
        text-align: center;
        font-weight: bold;
        color: white;
      }
      .SearchRooms:active {
        background-color: #bf8d5b;
      }
      .SelectRooms:active {
        background-color: #bf8d5b;
      }
      hr {
        height: 2px;
        background-color: lightgrey;
        border: 0px;
      }
    </style>
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section header-normal">
      <div class="top-nav">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <ul class="tn-left">
                <li><i class="fa fa-phone"></i>02-2222-2222</li>
                <li><i class="fa fa-envelope"></i> hotelsona@gmail.com</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <div class="tn-right">
                <div class="top-social">
                  {% if user.is_authenticated %}
                  <form
                    action="{% url 'accounts:logout' %}"
                    method="POST"
                    style="margin: 0px; float: left"
                  >
                    {% csrf_token %}
                    <button
                      class="log"
                      type="submit"
                      style="
                        border: 0px;
                        background-color: white;
                        font-size: 15px;
                      "
                    >
                      Logout
                    </button>
                  </form>
                  {% else %}
                  <button
                    class="log"
                    type="button"
                    onclick="location.href='{% url 'accounts:login_view' %}'"
                    style="
                      border: 0px;
                      background-color: white;
                      font-size: 15px;
                    "
                  >
                    Login
                  </button>
                  {% endif %} /
                  <button
                    class="myPage"
                    type="button"
                    onclick="location.href='{% url 'mypage:mypage_1' %}'"
                    style="
                      border: 0px;
                      background-color: white;
                      font-size: 15px;
                    "
                  >
                    MyPage
                  </button>
                </div>
                <a href="{% url 'booking:booking' %}" class="bk-btn"
                  >Booking Now</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="menu-item">
        <div class="container">
          <div class="row">
            <div class="col-lg-2">
              <div class="logo">
                <a href="{% url 'booking:index' %}">
                  <img src="../../static/img/logo.png" alt="" />
                </a>
              </div>
            </div>
            <div class="col-lg-10">
              <div class="nav-menu">
                <nav class="mainmenu">
                  <ul>
                    <li><a href="{% url 'booking:index' %}">Home</a></li>
                    <li><a href="{% url 'booking:rooms' %}">Rooms</a></li>
                    <li><a href="{% url 'booking:about_us' %}">About Us</a></li>

                    <li>
                      <a href="{% url 'inquiries:customer_voice' %}"
                        >Customer Voice</a
                      >
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <!-- Header End -->

    <!-- Contact Section Begin -->
    <div class="breadcrumb-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="breadcrumb-text">
              <h2>Booking</h2>
              <div class="bt-option">
                <a href="{% url 'booking:index' %}">Home</a>
                <span>Booking</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--content-->
    <div class="contentBox">
      <div class="listBox">
        <div class="in">
          <div class="step1">
            Step1<br />
            <h5>날짜,인원 선택</h5>
          </div>
          <!--p1-->
          <div class="step2">
            Step2<br />
            <h5 style="color: #dfa974">객실 선택&nbsp;&nbsp;&nbsp;</h5>
          </div>
          <!--p2-->
          <div class="step3">
            Step3<br />
            <h5>정보 입력&nbsp;&nbsp;&nbsp;</h5>
          </div>
          <!--p3-->
          <div class="step4">
            Step4<br />
            <h5>예약 완료&nbsp;&nbsp;&nbsp;</h5>
          </div>
        </div>
      </div>
      <!--캘린더-->
      <div class="calenderBox">
        <hr style="background-color: #dfa974" />
        <div style="width: 800px; margin: 0 auto">
          <form id="bookingInfoForm" action="{% url 'booking:booking_2' %}" method="POST"><!--여기서 해당 날짜와 인원에 남아있는 객실 보여줌.-->
            {% csrf_token %}
            <div class="check-in">
              Check In

              <input
                type="date"
                name="check-in"
                id="check-in"
                required
                pattern="\d{4}-\d{2}-\d{2}"
                style="height: 40px"
              />
            </div>
            <div class="check-out">
              Check Out

              <input
                type="date"
                name="check-out"
                id="check-out"
                required
                pattern="\d{4}-\d{2}-\d{2}"
                style="height: 40px"
              />
            </div>
            <div class="select-option">
              <div class="guests">
                <div>Guests</div>
                <div>
                  <select id="guest" name="guest"  style="height: 40px">
                    <option value="1">1 Adults</option>
                    <option value="2">2 Adults</option>
                    <option value="3">3 Adults</option>
                    <option value="4">4 Adults</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="search">
              Search
              <div>
                <button
                  class="SearchRooms"
                  type="submit"
                  onclick="checkReservation();"
                >
                  객실조회
                </button>
              </div>
            </div>
          </form>
        </div>
        <hr style="margin-top: 200px" />
      </div>
      <!--rooms-->
      <form id="bookingRoomForm" action="{% url 'booking:booking_3' %}">
        <div class="availRooms">
          <!-- 방 정보를 순회하며 필요한 정보 표시 -->
          {% for room in rooms %}
          <div class="{{ room.name }}" style="display: inline-block;">
            <div class="room-images" style="display: inline-block;">
              <img
                src="{{ room.image.url }}" alt="{{ room.name }}"
                style="height: 270px;"
              />
            </div>
            <div class="room-contents" style="display: inline-block; vertical-align: top; padding-left: 60px;">
              <h3 style="margin-bottom: 10px;">{{ room.name }}</h3>
        
              <span style="font-size: 33px; font-weight: bold; color: #dfa974">
                {{ room.price }}KRW
              </span>
              <span style="font-size: 14px">/Pernight</span><br />
              Size: {{ room.size }} ft<br />
              Capacity: Max person {{ room.capacity }}<br />
              <br/>
              <div class="btn">
                <button class="SelectRooms" type="submit" >
                  선택
                </button>
              </div>
            </div>
          </div>
          <hr/>
          {% endfor %}
        </div>
      </form>
      
      <!-- <form id="bookingRoomForm" action="{% url 'booking:booking_3' %}">
      <div class="availRooms">
        <div class="DoubleRoom">
          <div class="room-images" style="display: inline-block">
            <img
              src="../../static/img/room/room-1.jpg"
              alt=""
              style="height: 270px"
            />
          </div>
          <div
            class="room-contents"
            style="display: inline-block; padding-left: 60px"
          >
            <h3 style="margin-bottom: 10px">Double Room</h3>

            <span style="font-size: 33px; font-weight: bold; color: #dfa974"
              >50,000KRW</span
            ><span style="font-size: 14px">/Pernight</span><br />
            Size: 30 ft<br />
            Capacity: Max persion 2
            <br />
          </div>
          <div class="btn">
            <button
              class="SelectRooms"
              type="button"
              onclick="selectRoom('Double Room', '50000')"
              style="margin-left: 30px"
            >
              선택
            </button>
          </div>
          <hr />
        </div>
        <div class="DeluxeRoom">
          <div class="room-images" style="display: inline-block">
            <img
              src="../../static/img/room/room-3.jpg"
              alt=""
              style="height: 270px"
            />
          </div>
          <div
            class="room-contents"
            style="display: inline-block; padding-left: 60px"
          >
            <h3 style="margin-bottom: 10px">Deluxe Room</h3>

            <span style="font-size: 33px; font-weight: bold; color: #dfa974"
              >60,000KRW</span
            ><span style="font-size: 14px">/Pernight</span><br />
            Size: 35 ft<br />
            Capacity: Max persion 2
            <br />
          </div>
          <div class="btn">
            <button
              class="SelectRooms"
              type="button"
              onclick="selectRoom('Deluxe Room', '60000')"
              style="margin-left: 30px"
            >
              선택
            </button>
          </div>
          <hr />
        </div>
        <div class="PremiumKingRoom">
          <div class="room-images" style="display: inline-block">
            <img
              src="../../static/img/room/room-2.jpg"
              alt=""
              style="height: 270px"
            />
          </div>
          <div
            class="room-contents"
            style="display: inline-block; padding-left: 60px"
          >
            <h3 style="margin-bottom: 10px">Premium King Room</h3>

            <span style="font-size: 33px; font-weight: bold; color: #dfa974"
              >70,000KRW</span
            ><span style="font-size: 14px">/Pernight</span><br />
            Size: 40 ft<br />
            Capacity: Max persion 3
            <br />
          </div>
          <div class="btn">
            <button
              class="SelectRooms"
              type="button"
              onclick="selectRoom('Premium King Room', '70000')"
              style="margin-left: -2px"
            >
              선택
            </button>
          </div>
          <hr />
        </div>
        <div class="FamilyRoom">
          <div class="room-images" style="display: inline-block">
            <img
              src="../../static/img/room/room-5.jpg"
              alt=""
              style="height: 270px"
            />
          </div>
          <div
            class="room-contents"
            style="display: inline-block; padding-left: 60px"
          >
            <h3 style="margin-bottom: 10px">Family Room</h3>

            <span style="font-size: 33px; font-weight: bold; color: #dfa974"
              >80,000KRW</span
            ><span style="font-size: 14px">/Pernight</span><br />
            Size: 45 ft<br />
            Capacity: Max persion 4
            <br />
          </div>
          <div class="btn">
            <button
              class="SelectRooms"
              type="button"
              onclick="selectRoom('Family Room', '80000')"
              style="margin-left: 30px"
            >
              선택
            </button>
          </div>
          <hr />
        </div>
      </div>
    </form> -->
      <!--rooms-->
    </div>
    <!--content end-->

    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="footer-text">
          <div class="row">
            <div class="col-lg-4">
              <div class="ft-about">
                <div class="logo">
                  <a href="#">
                    <img src="../../static/img/footer-logo.png" alt="" />
                  </a>
                </div>
                <p>
                  We inspire and reach millions of travelers<br />
                  across 90 local websites
                </p>
                <div class="fa-social">
                  <a href="#"><i class="fa fa-facebook"></i></a>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                  <a href="#"><i class="fa fa-tripadvisor"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-youtube-play"></i></a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
              <div class="ft-contact">
                <h6>Contact Us</h6>
                <ul>
                  <li>02-2222-2222</li>
                  <li>hotelsona@gmail.com</li>
                  <li>856 Cordia Extension Apt. 356, Lake, United State</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="copyright-option">
        <div class="container">
          <div class="row">
            <div class="col-lg-7">
              <ul>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Terms of use</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Environmental Policy</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins --><!--플러그인 지울 시 무한 로딩-->
    <script src="../../static/js/jquery-3.3.1.min.js"></script>
    <script src="../../static/js/bootstrap.min.js"></script>
    <script src="../../static/js/jquery.magnific-popup.min.js"></script>
    <script src="../../static/js/jquery.nice-select.min.js"></script>
    <script src="../../static/js/jquery-ui.min.js"></script>
    <script src="../../static/js/jquery.slicknav.js"></script>
    <script src="../../static/js/owl.carousel.min.js"></script>
    <script src="../../static/js/main.js"></script>

    <script>
      // 오늘 이전의 날짜 선택 x
      var now_utc = Date.now();
      var timeOff = new Date().getTimezoneOffset() * 60000;
      var today = new Date(now_utc - timeOff).toISOString().split("T")[0];
      document.getElementById("check-in").setAttribute("min", today);
      document.getElementById("check-out").setAttribute("min", today);
      // 체크인 날짜보다 체크아웃 날짜가 빠른 경우에 "날짜를 다시 선택해주세요"라는 알림 메시지를 표시하고 선택을 막음
      document
        .getElementById("check-out")
        .addEventListener("change", function () {
          var checkInDate = new Date(document.getElementById("check-in").value);
          var checkOutDate = new Date(this.value);

          if (checkOutDate < checkInDate) {
            alert("날짜를 다시 선택해주세요.");
            this.value = ""; // 체크아웃 날짜를 비워 선택을 막음
          }
        });

       // 값을 입력하지 않은 경우 alert 호출
      function checkReservation() {
        const checkInValue = document.getElementById("check-in").value;
        const checkOutValue = document.getElementById("check-out").value;
        const guestValue = document.getElementById("guest").value;

        if (!checkInValue || !checkOutValue || !guestValue) {
          alert("예약 정보를 입력해 주세요.");
          return false;
        } 
      } 
      // URL 매개변수 가져오기
      const urlParams = new URLSearchParams(window.location.search);
      const checkIn = urlParams.get("check-in");
      const checkOut = urlParams.get("check-out");
      const guest = urlParams.get("guest");

      // form 요소에 값 설정
      document.getElementById("check-in").value = checkIn;
      document.getElementById("check-out").value = checkOut;
      document.getElementById("guest").value = guest;

    //   function selectRoom(roomName, price) {
    //   // form 요소 선택
    //   var form = document.getElementById('bookingRoomForm');

    //   // 선택한 룸 정보를 hidden input 요소로 추가
    //   var roomInput = document.createElement('input');
    //   roomInput.type = 'hidden';
    //   roomInput.name = 'room';
    //   roomInput.value = roomName;
    //   form.appendChild(roomInput);

    //   // 선택한 룸 가격 정보를 hidden input 요소로 추가
    //   var priceInput = document.createElement('input');
    //   priceInput.type = 'hidden';
    //   priceInput.name = 'price';
    //   priceInput.value = price;
    //   form.appendChild(priceInput);

    //   // form 제출
    //   form.submit();
    // }
    </script>
  </body>
</html>
