.detail-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
  }

  .detail-table th {
    background-color: #dfa974;
    padding: 10px;
    color: white;
    text-align: center;
    border: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
    width: 15%;
  }

  .detail-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
    padding-left: 15px;
  }
  .btn {
    height: 40px;
    width: 100px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    background-color: #dfa974;
    text-align: center;
    font-weight: bold;
    color: white;
  }
  .btn:active {
    background-color: #bf8d5b;
  }
  .btn:hover {
    color: white;
  }